dev

data/*
!data/blank/

# Only push data files
!data/demo/
data/demo/analysis/*
!data/demo/analysis/.keep
data/demo/indexes/*
!data/demo/indexes/.keep
data/demo/maps/*
!data/demo/maps/.keep
data/demo/reads/processed/*
!data/demo/reads/processed/.keep
data/demo/references/*.csv


.RData
.Rhistory
